.form-block{
  display: flex;
  margin: auto;
  justify-content: center;  
}

.button-block{
  display: flex;
  justify-content: space-between;
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

button {
    display: block;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  } 

.save-cancel{
  width: 45%;
}


  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }

  .input-wrapper-inline{
    display: flex;
    text-align: left;
    margin-bottom: 1rem;
    gap: 15px;
    align-items: center;
    padding-inline: 25px;
  }
  
  .input-wrapper-inline label {
    font-weight: bold;
    color: white;
  }

  .input-wrapper label {
    font-weight: bold;
    color: white;
  }
  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }

  .input-wrapper-inline input {
    padding: 5px;
    font-size: 1.2rem;
    width: 150px;
  }